
body {   font-size: 1.2rem; }
h2 { color: #eeba00; }
h3 { font-family: 'Quicksand', sans-serif;  color:#2d93aa; }
.listado-A { border: 1px solid #feca01;  font-size: 1rem; margin-bottom: 30px; }
.listado-A h2 { font-size: 20px; }
.listado-A-logo { max-width: 200px; max-height: 85px; height: auto; width: auto; margin:0 auto; }
.listado-A-info p{ margin: 2px; font-size: 1rem; }
.listado-A-logo img { max-height: 85px; max-width: 100%; }
.listado-A .yesNo, .yesNo { width: 32px; }
.stars img { width: 25px; }
.listado-A table { border: none; }
.listado-A td { padding: 4px 10px; }.quickinfo1Tit { padding: 0; color: #7c8791; font-size: 13px; letter-spacing: 2px; line-height: normal; margin: 0 auto 0 auto; }

.w { font-size: 40px; }
.brdr { border-right: 1px dashed #ddd; }
.brdb { border-bottom: 1px dashed #ddd; }

.td33 { width: 33%; }

.indice-A {margin-bottom: 20px; }
.list-group-indice-A:first-child .list-group-item:first-child { border-top: 0; }
.list-group-indice-A .list-group-item { border-right: 0; border-left: 0; border-radius: 0; border-bottom: 1px solid #e5e8f2; position: relative; display: list-item; padding: .75rem 1.25rem; list-style-position: inside; }
.list-group-indice-A a, .list-group-indice-A a:visited { color: #8aaa33; }
.list-group-indice-A a:hover, .list-group-indice-A a:focus { color: #5dc2d9; }
 
.stars img { width: 25px; }
.BGazul { background: #5dc3da; }
.BGverde { background: #abcb53; }
.BGamarillo { background: #feca01; }
.BGamarillo10 { background-color: #fffae5; }
.BGamarillo20 { background-color: #fff4cc; }
.BGamarillo30 { background-color: #ffefb2; }
.BGamarillo40 { background-color: #ffea99; }
.BGamarillo50 { background-color: #fee480; }
.BGamarillo60 { background-color: #fedf67; }
.BGamarillo70 { background-color: #feda4d; }
.BGamarillo80 { background-color: #fed534; }
.BGamarillo90 { background-color: #fecf1a; }
.BGrojo { background: #ed6a4b; }
.blanco {color: #fff;}
.azul { color: #5dc3da; }
.azulC { color: #3da3ba; }
.verde { color: #abcb53; }
.amarillo { color: #feca01; }
.rojo { color: #ed6a4b; }
.amarilloC { color: #ae7a00; }
.verdeC { color: #6b8b13; }
 
.scp-contact { background-color: #aaca53; padding: 10px 20px;}
.scp-contact h2 { margin: 0 auto 10px auto; padding: 0; color: #fff; }
.scp-contact p { color: #fff; }
.scp-contact img { width: 55px; margin:10px;  }

.my-40 {margin: 40px auto; }
.xl30 { font-size: 30px; }
.xl35 { font-size: 35px; }

.scpBox { background: #84cada; margin: 30px auto; padding: 10px 0; }
.quickinfoH table { width: 100%; background: #fff; margin: 10px auto; }
td.scp { width: 55px; }
.scp img { width: 45px; margin: 5px 0; } 
td.scpYesNo { width: 40px; }
.scpYesNo img { width: 32px; }
.quickinfoH p { margin: 5px 0; text-align: left; color: #7c8791; font-size: 18px; line-height: normal; }
.col-6.quickinfoH { padding: 0 10px; }
.ln90px { height: 90px; }
.lm60px { height: 60px; }


.ficha { border: 1px solid #feca01;  font-size: 0.9rem; margin-bottom: 30px; }
.ficha h2 { font-size: 20px; }
.ficha-logo { max-width: 200px; max-height: 85px; margin:0 auto; margin: 10px auto; }
.ficha-logo img { max-height: 85px; max-width: 100%; width: auto; min-height: auto; }
 .ficha table { border: none; }
.ficha td { padding: 8px 10px; font-size: 15px; line-height: normal; color: #646a82; }
.fichaTit {  color: #949ab2; font-size: 13px; text-transform: uppercase; letter-spacing: 2px; line-height: normal; margin: 0 auto 0 auto; font-weight: 700; line-height: normal; }
.ficha .stars img { width: 20px; }
.ficha .yesNo, .yesNo { width: 25px; }
.fichaBG { background: #f7f8fa; }
.ficha .costo { color: #66cc00; font-size: 19px }
.ficha .blanco { color: #fff; }

.btn-pideinfo { background: #ed6a4b; font-size: 18px; margin: 0 auto; font-weight: 700; }
.btn-pideinfo:hover { background: #dd5a3b; }

