
.RguiasBox { margin-bottom: 30px; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); } 
.RguiasBox:hover { background: #e5f4f8; }
.RguiasImg { background: #fff; height: 170px; overflow: hidden; width: 100%; }
.RguiasImg img { max-height: 170px; height: 170px; width: auto; margin: 0; }
.RguiasTit { width: 93%; margin:0 auto; display: inline-block; height: 73px; overflow: hidden; }
.RguiasTit h2 { font-size: 16px; text-align: left; line-height: 20px; color: rgba(7,23,29,0.8); }
