.lc_card { 
    margin-bottom: 1.5em; 
    position: relative; 
}
.lc_card:hover {
	background: #fdf8e5;
}
.lc_card-img { 
    height: 144px; 
    position: relative; 
    overflow: hidden; 
    border-radius: 4px 4px 0; 
}
.lc_card-img > img { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.lc_card-body {
    padding: 1.125em;
}
.lc_card a{
    text-decoration: none;
    color: #07171d;
}
.lc_card-title {
    margin: 0;
    height: auto;
    word-break: break-word; 
 }
.lc_card-title h2 {
    word-break: break-word; 
    margin:0;
    font-size: 1.2em;
    line-height: 1.3em; 
    font-weight: normal;
}
.lc_card-desc { 
    height: 5em; 
    overflow: hidden; 
}
.lc_card-desc p { 
    font-size: 0.975em;
    line-height: 1.285714285714286em;
    height: 3.857142857142857em;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: 0.5em auto;
    color: rgba(7,23,29,0.8);
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
.lc_card-title {
    height: 7em; 
}
.lc_card-sub {
    height: 3.7em;
}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.lc_card-title {
    height: 4.5em;
    overflow: hidden;
}
}
