.signoIco img { max-width: 200px;  max-height: 200px; height: auto; width: auto; margin: 10px auto 0 auto; }

.ficha_signo-A { margin-bottom: 20px; }
.ficha_signo-A .shadow {padding: 0 5px; }
.ficha_signo-A h1 { margin-top: 10px; }
.ficha_signo-A img { width: 100%; }
.ficha_signo-A .price { font-weight: bold; font-size: 30px; }
.ficha_signo-A small { font-weight: bold; letter-spacing: 1px; line-height: 10px; font-size: 65%; margin-top: 0; display: block; text-align: center; width: 100%; }
.ficha_signo-A p { margin-bottom: 10px; }
.ficha_signo-A  b { color: #4c5166; }
.ficha_signo-A-simbol { margin:15px auto 5px auto; padding-top: 5px; text-transform: uppercase; display: inline-block; }
.ficha_signo-A-simbol img { width: 60px; }
.ficha_signo-A-simbol table { width: 98%; margin: 0 auto }


.signoColors { 
	width: 49px; 
	height: 49px; 
	border-radius: 50%; 
	margin: 4px 10px 0 10px; 
	display: inline-block; 
	border:2px solid #000; 
	}
.BGamarillo { 
	background: #ffd401;
	}
.BGblanco { 
	background: #ffffff;
	}
.BGmagenta { 
	background: #ff3399;
	}
.BGmarrón { 
	background: #993300;
	}
.BGnaranja { 
	background: #f15a21;
	}
.BGnegro { 
	background: #000000;
	}
.BGrojo-brillante { 
	background: #ee1c25;
	}
.BGrojo-oscuro { 
	background: #bb020a;
	}
.BGrosa { 
	background: #ff6699;
	}
.BGverde { 
	background: #8fbe3e;
	}
.BGazul-turquesa {
	background: #6bd4cf;
	}
.BGmorado {
	background: #551a8b;
	}

.BGwater { background: url(../provisionales/bg.jpg); background-position: bottom center; background-size: cover; background-attachment: fixed; }
.BGwater h2, .BGwater p { color: #0b6677; }
.BGgradient h2, .BGgradient p { color: white; }
.BGviolet { background: url(../provisionales/bgViolet2.jpg); background-position: center center; background-size: cover; background-attachment: fixed; padding-bottom: 50px; padding-top: 50px }

.signo h2 { margin-bottom: 30px; }
.signoMejorPeor h2 { color: #7048ad; font-size: 2em; margin-bottom: 1.5em; }
.signoMejorPeor p { color: #7048ad; font-size: 1.2em ; margin-bottom: 0.5em; }
.signoMejorPeor p b { font-size: 1.6em; }

.amor { color: #f0a795; }
.amorD { color: #f74e6f; }
.trabajo { color: #d6e243; }
.trabajoD { color: #a8d116; }
.amistad { color: #7fdcf3; }
.amistadD { color: #4cabe9; }
.mujer, .mujer h2 { color: #c8a0de; }
.mujerD, .mujer h3 { color: #a270c1; }
.hombre {color: #f6d045; }
.hombreD { color: #f6a357; }

/***ALLL***/
.brdTop { border-top: 1px solid #dee2e6; }
.brdSx { border-left: 1px solid #dee2e6; }
.brdSxD { border-left: 1px dashed #dee2e6; }
.mt20 { margin-top: 20px;}
.my-100 { margin:100px auto;}
.my-50 { margin: 50px auto; }


.signo-mujer, .signo-hombre, .signo-ninos { margin: 200px auto; }


.signo-mujer h2 { color: #c8a0de; }
.signo-mujer h3 { color: #a270c1; }
.signo-hombre h2 { color: #f6a357; }
.signo-hombre h3 {color: #f6d045; }
.signo-ninos h2 { color: #7ebbe9; }
.signo-ninos h3 {color: #a6e4f1; }
.signo p, .signo-signo p, .signo-mujer p, .signo-hombre p, .signo-ninos p  { text-align: justify; margin-bottom: 3em; line-height: 2em;  }
.signo-signo li, .signo-mujer li, .signo-hombre li, .signo-ninos li { margin-bottom: 2em; line-height: 2em;  }
.signo-signo ul, .signo-mujer ul, .signo-hombre ul, .signo-ninos ul {  margin-bottom: 3em; }
.signo-signo h2, .signo-mujer h2, .signo-hombre h2, .signo-ninos h2 { font-size: 2.3em; text-align: center;  margin-bottom: 1.3em; } 
.signo-signo h3, .signo-mujer h3, .signo-hombre h3, .signo-ninos h3 { font-size: 1.5em; font-weight: normal; }


.compatiblidad { margin-bottom: 30px; padding-top: 10px; padding-bottom: 10px; }
.compatiblidad small { text-transform: uppercase; }
.compatiblidad td { padding: 5px; width: 33%; }
.compatiblidad table { width: 100%; }
.compatiblidad img { width: 70px; }
.compatiblidad p { font-size: 16px; margin: 0px auto; border-bottom: 1px dashed  #ddd; padding-bottom: 5px; text-transform: uppercase; line-height: 18px; text-align: center; }

