.widgets h2 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 0.2em
}

.w_signos ul {
	padding: 0;
}
.w_signos li {
	display: inline-block;
	list-style-type: none;
	width: 30%; 
	margin: 0px 1% 10px 1%;
}
.w_signos li img {
	width: 100%;
	border-radius: 5px;
}
.w_signos li a, .w_signos li a:visited {
	color: #7d7b8d;
	text-transform: uppercase;
}
.w_signos li a:hover, .w_signos li a:focus {
	color: lightseagreen;
	text-transform: uppercase;
	text-decoration: none;
}
 
.w_signos li p {
	margin: 0 auto;
	text-transform: uppercase;
}
@media (min-width: 768px) { 
.w_signos li {
	width:6.5%; 
	margin: 0 0.5%;
}
.w_signos a {
	opacity: 0.8;
}
.w_signos a:hover,.logo a:focus {
	opacity: 1;
}
 }

.w-horoscoposBox {
	margin: 30px auto
}
.w-horoscopos-sub {
    font-size: 110%;
    letter-spacing: 0.18em;
    margin: 0 auto;
    line-height: 1.5em;
}
.w-horoscopos-tit {
    font-size: 202%;
	font-weight: 900;
	letter-spacing: 0;
	line-height: 1em;
	margin: 0 auto;
}
.w-horoscopos img {
	max-width: 90%;
}
.w-horoscopos a,.w-horoscopos a:visited {
	padding: 30px; 
	color: #fff;
}
.w-horoscopos a:focus,.w-horoscopos a:hover {
 	text-decoration: none;
}
.w-horoscopos-hoy { 
	background: #74c0f4;
}
.w-horoscopos-semana { 
	background: #54a0d4;
}
.w-horoscopos-mes { 
	background: #3480b4;
}
.w-horoscopos-ano { 
	background: #135f93;
}
@media (min-width: 768px) { 
.w-horoscopos-sub {
    font-size: 2em;
}
.w-horoscopos-tit {
    font-size: 4em;
}
}